// slide-y-down
.slide-y-down-enter {
    opacity: 0;
    transform: translateY(15px);
}
.slide-y-down-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: 0.3s;
}

.slide-y-down-exit {
    opacity: 1;
    transform: translateY(0);
}
.slide-y-down-exit-active {
    opacity: 0;
    transform: translateY(15px);
    transition: 0.3s;
}


// slide-y-down-500
.slide-y-down-500-enter {
    opacity: 0;
    transform: translateY(15px);
}
.slide-y-down-500-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: 0.5s ease-out;
}

.slide-y-down-500-exit {
    opacity: 1;
    transform: translateY(0);
}
.slide-y-down-500-exit-active {
    opacity: 0;
    transform: translateY(15px);
    transition: 0.5s ease-out;
}


// zoom-y
.zoom-y-enter {
    opacity: 0;
    transform: scaleY(0);
}
.zoom-y-enter-active {
    opacity: 1;
    transform: scaleY(1);
    transition: 0.3s ease-out;
}

.zoom-y-exit {
    opacity: 1;
    transform: scaleY(1);
}
.zoom-y-exit-active {
    opacity: 0;
    transform: scaleY(0);
    transition: 0.3s ease-out;
}