/* weight */
.b-400 {
  font-weight: 400 !important;
}
.b-500 {
  font-weight: 500 !important;
}
.bold {
  font-weight: bold !important;
}
.b-700 {
  font-weight: 700 !important;
}
.extra-bold {
  font-weight: 800 !important;
}


/* text-decoration */
.underline {
  text-decoration: underline;
}
.midline {
  text-decoration: line-through;
}