.page {
    .title {
        margin-top: 225px;
    }

    .titleMoved {
        transition: 1.5s;
        margin-top: 60px;
        margin-bottom: 0px;
        margin-bottom: var(--title-margin-bottom, 0px);
    }

    h1 {
        font-family: var(--font-inter);
        text-align: center;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        
        color: #000000 !important;
    }
    
    h2 {
        font-family: var(--font-inter);
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        
        color: #374151 !important;
    }
}
